<div class="top-container flex items-center justify-center min-h-screen">
    <div class="fit-page-container px-2">
      <div class="outter-content bg-pink-700 text-purple-100 shadow-xl rounded-lg overflow-hidden md:flex">
        <div class="inner-content">
          <div class="top-content p-8">
            <h1 class="primary-title font-bold text-xl md:text-2xl">Welcome to Driver Portal</h1>
            <p class="text-center mt-4">We will be launching soon!</p>
          </div>
          <div class="mid-content flex justify-center p-8 bg-blue-700">
            <div class="mid-inner-content">
              <button (click)="toggleBtn()"
                class="primary-button py-2 px-5 bg-pink-700 hover:bg-pink-600 font-bold text-white rounded-lg shadow-md">Get
                Notified</button>
            </div>
          </div>
          <div class="bottom-content bg-blue-700 overflow-hidden h-0" [ngClass]="{'unhide-content': toggle_status}" >
            <input [ngClass]="{'unhide-input': toggle_status}"
              class="shadow appearance-none border rounded opacity-0 w-full text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              id="username" type="text" placeholder="Email">
          </div>
        </div>
      </div>
